<!-- footer.html -->
<p>
  Copyright &copy; <span id="current-year"></span>
  <a href="#" target="_blank"><strong>Castillo Consulting Company</strong></a> All Rights Reserved
</p>
<a class="footer-icon1" href="https://www.facebook.com/" target="_blank">
  <img
    class="separate"
    src="../assets/images/marketing/1_facebook_icon.png"
    alt="Facebook social media icon"
  />
</a>
<a class="footer-icon2" href="https://twitter.com/" target="_blank">
  <img
    class="separate"
    src="../assets/images/marketing/1_twitter_icon.png"
    alt="Twiter social media icon"
  />
</a>
<a class="footer-icon3" href="https://www.pinterest.com/" target="_blank">
  <img
    class="separate"
    src="../assets/images/marketing/1_pinterest_icon.png"
    alt="Printerest social media icon"
  />
</a>
